.gopher {
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-items: center;
  position: absolute;
  top: 1000;
}

.messageBubble {
  max-width: 100%;
  background-color: #dceef3;
  border-radius: 8px;
  display: none;
  overflow-wrap: break-word;
  padding: 8px 16px 8px 16px;
  box-sizing: border-box;
  text-align: center;
}

.messageBox {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  width: 180px;
  height: 72px;
  overflow: visible;
}
